<template>
  <div class="calculator">
    <div class="display">{{ display }}</div>
    <div class="keys">
      <table>
        <tr>
          <button @click="removeAllSymbs()">AC</button>
          <button @click="removeLastSymb()">DEL</button>
          <button @click="appendToDisplay('%')">%</button>
          <button @click="appendToDisplay('/')">/</button>
        </tr>
        <tr>
          <button @click="appendToDisplay('7')">7</button>
          <button @click="appendToDisplay('8')">8</button>
          <button @click="appendToDisplay('9')">9</button>
          <button @click="appendToDisplay('*')">*</button>
        </tr>
        <tr>
          <button @click="appendToDisplay('4')">4</button>
          <button @click="appendToDisplay('5')">5</button>
          <button @click="appendToDisplay('6')">6</button>
          <button @click="appendToDisplay('-')">-</button>
        </tr>
        <tr>
          <button @click="appendToDisplay('1')">1</button>
          <button @click="appendToDisplay('2')">2</button>
          <button @click="appendToDisplay('3')">3</button>
          <button @click="appendToDisplay('+')">+</button>
        </tr>
        <tr>
          <button @click="appendToDisplay('00')">00</button>
          <button @click="appendToDisplay('0')">0</button>
          <button @click="appendToDisplay('.')">.</button>
          <button @click="calculate()">=</button>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      display: "0",
      isCalculated: false
    };
  },
  methods: {
    appendToDisplay(value) {
      if (this.isCalculated) {
        this.display = "0";
        this.isCalculated = false;
      }

      if (this.display === "0") {
        if (value === "00" || ["+", "-", "*", "/", "%"].includes(value)) {
          this.display = "0";
        } else if (value === ".") {
          this.display += value;
        } else {
          this.display = value;
        }
      } else if ((this.display.includes(".") && value !== ".") || (!this.display.includes("."))) {
        this.display += value;
      }
    },

    calculate() {
      if (!this.isCalculated) {
        try {
          if (this.display.includes("%")) {
            const num1 = this.display.split("%")[0];
            const num2 = this.display.split("%")[1];
            this.display = (num2 / 100) * num1;
          } else if (["+", "-", "*", "/", "%"].some(operator => this.display.includes(operator))) {
            this.display = eval(this.display);
            this.isCalculated = true;
          }
        } catch (error) {
          this.display = "Error";
          this.isCalculated = true;
        }
      }
    },

    removeLastSymb() {
      if (this.display !== "0") {
        if (this.display.length !== 1) {
          this.display = this.display.slice(0, -1);
        } else {
          this.display = "0";
        }
      }
    },

    removeAllSymbs() {
      this.display = "0";
    }
  }
};
</script>

<style>
.calculator {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.display {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-self: stretch;
  text-align: right;
}

.keys button {
  margin: 5px;
  padding: 10px;
  font-size: 24px;
  border-radius: 4px;
  width: 60px;
  border: none;
  background-color: darkblue;
  color: white;
  cursor: pointer;
}

.keys button:hover {
  background-color: blue;
}

.keys button:active {
  background-color: lightblue;
}
</style>
